<html>
    <head>
        <title>揀位王 | 立即幫你揀到心水靚位！</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.hkcinemaseat.com"/>
        <meta property="og:title" content="揀位王 | 立即幫你揀到心水靚位！">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta property="og:description" content="提供香港各個戲院的坐位評分，立即幫你揀到心水靚位！">
        <meta name="keywords" content="電影,戲院位置,買飛,最佳位置,AMC PACIFIC PLACE (金鐘), Cinema City 朗豪坊 (旺角), FESTIVAL GRAND CINEMA (又一城), L cinema (筲箕灣), MCL JP 銅鑼灣戲院 (銅鑼灣), MCL 康怡戲院 (鰂魚涌), MCL 德福戲院 (九龍灣), MCL 新都城戲院 (寶琳), MCL 海怡戲院 (鴨脷洲), MCL 皇室戲院 (銅鑼灣), MCL 粉嶺戲院 (粉嶺), PALACE apm (觀塘), PALACE ifc (中環), STAR Cinema (將軍澳), The Grand Cinema (柯士甸), UA Cine Moko (旺角), UA Cine Moko BEA IMAX (旺角), UA Cine Times (銅鑼灣), UA iSQUARE (尖沙咀), UA iSQUARE BEA IMAX (尖沙咀), UA MegaBox  (九龍灣), UA MegaBox BEA IMAX (九龍灣), UA 屯門市廣場 (屯門), UA 機場 IMAX 影院(赤鱲角), UA 沙田新城市廣場 (沙田), UA 鳯凰影院 (尖沙咀), 元朗戲院 (元朗), 凱都戲院 (屯門), 嘉禾 the sky (奧運), 嘉禾海運戲院 (尖沙咀), 嘉禾粉嶺 (粉嶺), 嘉禾荃新天地電影城 (荃灣), 嘉禾青衣電影城 (青衣), 嘉禾黃埔 (黃埔), 寶石戲院 (紅磡), 巴黎倫敦紐約米蘭戲院 (屯門), 影藝戲院 (牛頭角), 新寶戲院 (旺角), 星影匯 (九龍灣), 百老匯The ONE (尖沙咀), 百老匯嘉湖銀座 (天水圍), 百老匯數碼港 (數碼港), 百老匯旺角 (旺角), 百老匯荃灣 (荃灣), 百老匯荷里活 (鑽石山), 百老匯葵芳 (葵芳), 百老匯電影中心 (油麻地), 總統戲院 (銅鑼灣), 豪華戲院 (旺角), 馬鞍山戲院戲院" />
        <link rel="stylesheet" href="./css/index.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">
                            揀位王
                        </a>
                    </div>
                </div>
            </nav>
            <div class="container">
                <h2>戲院列表</h2>
                <div class="col-md-12" v-for="company in cinemaList">
                    <h3 class="header">
                        {{company.name}}
                    </h3>
                    <div class="col-md-3 cinemaList" v-for="cinema in company.cinemaList">
                        <a class="link" v-bind:href="company.id + '/' + cinema.id + '/1'">{{cinema.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./js/index.js"></script>
</html>
