.seat {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 1px;
    padding-top: 3px;
    float: left;
    background-color: #eee;
    text-align: center;
}

.seat.seat--empty {
    background-color: white;
}
