.screen {
    margin: auto;
    width: 80%;
    height: 35px;
    border: 3px solid #3c763d;
    background-color: #3c763d;
    text-align: center;
}

.screen--top {
    margin: 50px auto 30px;
}

.screen--bottom {
    margin-top: 30px;
}

.screen span {
    font-size: 20px
}

.floor-plan {
    margin-top: 30px;
}

.floor-plan__color-description {
    margin: 0 auto 10px;
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

.floor-plan__color-description-text {
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}

.floor-plan__row {
    margin: auto;
    width: 80%;
    height: 35px;
}
.floor-plan__seat-row {
    display: flex;
    justify-content: center;
}
.row-name {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}


@media (max-width: 600px) {
    .floor-plan {
        overflow-x: scroll;
    }
    .floor-plan__seat-row {
        justify-content: flex-start;
    }
}
