.screen {
    margin: auto;
}

.screen-holder {
    width: 80%;
    height: 35px;
    border: 3px solid #3c763d;
    background-color: #3c763d;
    text-align: center;
    margin: auto;
}

.screen--top {
    margin: 50px auto 30px;
}

.screen--bottom {
    margin-top: 30px;
}

.screen span {
    font-size: 20px
}

.floor-plan {
    margin: 30px 0;
}

.floor-plan__color-description {
    margin: 0 auto 10px;
    width: 80%;
    height: 35px;
}

.floor-plan__color-description-seat.seat {
    float: right;
}

.floor-plan__color-description-text {
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}

.floor-plan__row {
    margin: auto;
    height: 35px;
}
.floor-plan__seat-row {
    margin: auto;
    height: 35px;
}
.row-name {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.row-holder {
    margin: auto;
}

@media (max-width: 768px) {
    .floor-plan__color-description {
        width: 90%;
    }
    .floor-plan {
        overflow-x: scroll;
    }
    .floor-plan__seat-row {
        display: block;
    }
}
